name: CI

# For testing
on: pull_request

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout tree
        uses: actions/checkout@v6

      - name: Set-up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Set-up Deno
        uses: denoland/setup-deno@v2

      # Build all the packages
      - name: Create packages for TSConfig JSONs
        run: deno run --allow-read --allow-write --allow-net scripts/create-npm-packages.ts

      - name: Test
        working-directory: test
        run: |
          npm install
          npm run test

      - name: Update the README
        run: deno run --allow-read --allow-write --allow-net scripts/update-markdown-readme.ts

      - name: Fail if the README needs updating
        run: |
          if [[ -z $(git status -s) ]]
          then
            echo ""
          else
            echo "Please update the README via: deno run --allow-read --allow-write scripts/update-markdown-readme.ts"
            exit 1
          fi
