name: Daily builds of changes to the TSConfig bases dir

# For testing
# on: push

# For production
on:
  schedule:
    - cron: 0 4 * * *
  workflow_dispatch:

permissions:
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout tree
        uses: actions/checkout@v6

      - name: Set-up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org

      - name: Set-up Deno
        uses: denoland/setup-deno@v2

      # Build all the packages
      - name: Create packages for TSConfig JSONs
        run: deno run --allow-read --allow-write --allow-net scripts/create-npm-packages.ts

      # Deploy anything which differs from the npm version of a tsconfig
      - name: "Deploy built packages to NPM"
        run: |
          deno run --allow-read --allow-run --allow-env --allow-net scripts/deploy-changed-npm-packages.ts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
